<!-- Services Section -->
    <section id="inspections">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Inspections</h2>
                    <h3 class="section-subheading text-muted">What do we do?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Home</h4>
                    <p class="text-muted">A Home Inspection is not only a crucial step in <b>protecting your investment</b> but also in ensuring the <b>safety</b> and <b>well-being</b> of you and your family. At <b>ST Inspection And Consulting Inc.</b>, our <b>certified professionals</b> are committed to delivering <b>thorough, reliable, and detail-oriented inspections</b> with the highest standards of <b>integrity</b> and <b>expertise</b>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Power Transformer</h4>
                    <p class="text-muted">The heart of any <b>reliable electrical network</b> lies in its <b>transformers</b>. Our team use <b>advanced inspection techniques</b> to verify that transformers meet <b>design specifications</b> and <b>industry standards</b>. From <b>core and coil assessments</b> to <b>pre-shipment inspections</b>, we collaborate with <b>leading consultants</b> to ensure precision at every stage. <b>Safeguard your investment</b> with expert inspections you can trust.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Manufacturing Components</h4>
                    <p class="text-muted">We ensure that <b>machined components</b> meet the highest standards of <b>quality</b> and <b>reliability</b>. <b>>Our experts provide third-party audits</b>, <b>supplier verification</b>, <b>material testing</b>, and <b>precision CMM inspections</b> to uphold strict quality control. We also support the <b>PPAP process</b>, helping manufacturers achieve production part approval with confidence. Trust our expertise to maintain <b>accuracy</b>, <b>compliance</b>, and <b>precision</b> in every component.</p>
                </div>
            </div>
        </div>
    </section>