<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Leave your information and we'll reach out to you!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- <form id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" name="entry.31930729" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" name="entry.1174679278" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" name="entry.90968864" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Your Message *" name="entry.867924164" required></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="submission-prompt"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form> -->
                <form id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" name="name" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" name="email" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone Number *" name="phone" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Your Message *" name="message" required></textarea>
                            </div>
                        </div>
                            <input type="text" name="_gotcha" style="display:none" />
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="submission-prompt">
                                <div id="submission-success" class='alert alert-success' style="display: none;">
                                    <button type='button' class='close' onclick="this.parentElement.style.display='none'">&times;</button>
                                    <strong>Thank you! Your message has been sent and we'll get back to you soon.</strong>
                                </div>
                                <div id="submission-fail" class='alert alert-danger'  style="display: none;">
                                    <button type='button' class='close' onclick="this.parentElement.style.display='none'">&times;</button>
                                    <strong id="submission-message">There was an error sending your message. If the error persists, please try calling us instead!</strong>
                                </div>
                            </div>
                            <button id="submit-button" type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
