<div class="hero">
    <div class="background-images">
        <div>
            <img src="/img/house-inspection-2.jpg" alt="Image of Home Inspection" class=""/>
        </div>
        <div>
            <img src="/img/header_power.jpg" alt="Image of Transformer Inspection" class=""/>
        </div>
        <div>
            <img src="/img/header_manufacturing.jpg" alt="Image of Manufacturing Inspection" class=""/>
        </div>
    </div>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Never let a property surprise you.</div>
            <a href="#contact" class="page-scroll btn btn-xl">Get a free quote!</a>
        </div>
    </div>
</div>
