 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="serviceModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description-1 }}</p>
                            <p>{{ post.description-2 }}</p>
                            <p>{{ post.description-3 }}</p>
                            <!-- <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul> -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Attribution Modal -->
<div class="portfolio-modal modal fade" id="attributionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Image Attributions</h2>
                        <hr class="star-primary">
                        <p>Below are the attributions for images used on this site:</p>
                        
                        <ul>
                            <li>Header Left: <a href="https://www.freepik.com/free-photo/engineer-writing-condenser-values_237226732.htm">Freepik</a></li>
                            <li>Header Center: <a href="https://www.pexels.com/photo/maintenance-man-working-on-site-8853471/">Los Muertos Crew from Pexels</a></li>
                            <li>Header Right: <a href="https://www.pexels.com/photo/factory-worker-reading-the-manual-19544232/">Hoang NC from Pexels</a></li>
                            <li>Home Service 1: <a href="https://www.istockphoto.com/photo/architect-checking-insulation-during-house-construction-gm501533193-43528992">Highwaystarz-Photography from iStock</a></li>
                            <li>Home Service 2: <a href="https://www.istockphoto.com/photo/building-inspector-checking-the-windows-of-a-residential-building-gm1321985239-408082465">Warchi from iStock</a></li>
                            <!-- <li>Home Service Modal Image: <a href="https://www.istockphoto.com/photo/building-inspector-looking-at-new-property-gm506729367-45053550">iStock</a></li> -->
                            <li>Power Service 1: <a href="https://www.istockphoto.com/photo/man-at-work-gm172932125-7179708">pkfawcett from iStock</a></li>
                            <li>Power Service 2: <a href="https://www.istockphoto.com/photo/electrician-in-bucket-of-articulated-boom-lift-is-repairing-electrical-transmission-gm1350021370-426310108">Prapat Aowsakorn from iStock</a></li>
                            <li>Manufacturing Service 1: <a href="https://www.istockphoto.com/photo/portable-3d-measuring-arm-gm1165356750-320635978">Itsanan Sampuntarat from iStock</a></li>
                            <li>Manufacturing Service 2: <a href="https://www.istockphoto.com/photo/male-engineer-worker-working-with-cmm-machine-at-production-line-in-the-industry-gm1473956886-503958142">Amorn Suriyan from iStock</a></li>
                            <!-- <li>Manufacturing Service Modal Image: <a href="https://www.istockphoto.com/photo/male-engineers-use-cmm-coordinate-measuring-machine-in-factory-gm946237072-258395134">monkeybusinessimages from iStock</a></li> -->
                        </ul>

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

